<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nuvo</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}nuvo/css/nuvo.css">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}nuvo/js/nuvo.js"></script>
    <script>
    $( document ).ready(function() {
        $( '#zone-select' ).load( "{% url 'nuvo:model_list' 'zones' %}" );
        } );
    </script>
</head>
<body>
<div id="zone-select" class="no-close-auto-dialog" title="Select Zone"></div>
</body>
</html>